torch>=2.0
torchvision>=0.15
numpy
tqdm
matplotlib

tiffslide
rasterio
geojson
einops
stardist
monai>=1.3
edt
colorcet
fill-voids

segmentation_models_pytorch>=0.3
wandb>=0.16

# vigra may require conda install, check before using
